<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angular Table</title>
    <style>
        .table, th, td {
          border:1px solid black;
        }
        </style>
</head>
<body>
    <div>
        <table style="width:100%">
            <tr>
            <th>Student_ID</th>
            <th>Student_Name</th>
            <th>Student_Class</th>
            </tr>
            <tr *ngFor="let student of students">
                <td>{{student.student_id}}</td>
                <td>{{student.student_name}}</td>
                <td>{{student.student_class}}</td>
            </tr>
        </table><br>
        <div>
            <button (click)="fun()">Click Me</button>
        </div>
    </div>
</body>
</html>