<div class="container">
    <h2 class="text-center"> Drop us a Message!</h2>
    <form [formGroup]="contactForm" (submit)="postQuery()" class="mt-4">
        <div class="row mb-2">
            <div class="col-8">
                <div class="col">
                    <label>Name</label>
                    <input type="text" class="form-control" placeholder="Enter Name" formControlName="name">
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-8">
                <div class="col">
                    <label>Email</label>
                    <input type="email" class="form-control" placeholder="Enter Email" formControlName="email">
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-8">
                    <div class="col">
                        <label>Phone No</label>
                        <input type="number" class="form-control" placeholder="Enter Number" formControlName="phno">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Drop us a Message</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="query"></textarea><br>
            <button type="submit" class="btn btn-active btn-primary">Submit</button>
          </div>
    </form>
</div>