footer {
    display: block;
    background-color: rgb(81, 112, 117);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    width: 100%;
    border-top: 0px solid white;
    text-align: center;
    color: aliceblue;
  }