﻿@model Thejaswin_Employee_Crud.Models.Employee;
<div>
    @{ using (Html.BeginForm())
        {
            @Html.Label("Please enter name")
            @Html.TextBoxFor(o => o.employeeName)<br />

            @Html.Label("Please enter Address")
            @Html.TextBoxFor(o => o.employeeAddress)<br />

            @Html.Label("Please enter Department")
            @Html.TextBoxFor(o => o.employeeDepartment)<br />

            @Html.Label("Please enter PHno")
            @Html.TextBoxFor(o => o.employeePhno)<br />

            <input type="submit" value="Add Student" />
        }
    }
</div>