﻿@model IEnumerable<Thejaswin_Employee_Crud.Models.Employee>

<div><b>Display Employee Details</b><br /></div>
<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>Employee Id </th>
        <th>Name </th>
        <th>Address </th>
        <th>Department</th>
        <th>Phone No</th>
    </tr>
    @foreach (var d in ViewBag.employeeDetails)
    {
        <tr>
            <td>@d.employeeGuid</td>
            <td>@d.employeeName</td>
            <td>@d.employeeAddress</td>
            <td>@d.employeeDepartment</td>
            <td>@d.employeePhno</td>
        </tr>

    }
</table>