﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Employee Management!</h1>
    <div>@Html.ActionLink("Add Employee", "AddEmployee")</div>
    <div>@Html.ActionLink("Edit Employee", "EditEmployee")</div>
    <div>@Html.ActionLink("Delete Employee", "DeleteEmployee")</div>
    <div>@Html.ActionLink("Display Employee", "DisplayEmployee")</div>
</div>
