<!-- <br>
<h1 style="font-family:aria-label;">Book Your Appointment Now!</h1>
<div>
    <form>
        <div class="row">
          <div class="col-4">
            <label for="name">Name</label>
            <input type="text" class="form-control" placeholder="Enter Your Name" formControlName="name">

            <label for="email">Email</label>
            <input type="text" class="form-control" placeholder="Enter Your Email">

            <label for="Address"> Enter Address</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>

            <label for="city">City</label>
            <input type="text" class="form-control" placeholder="Enter Your City">

          </div>
          <div class="col-4">
            <label for="age">Age</label>
            <input type="text" class="form-control" placeholder="Enter Your Age">

            <label for="mobileno">Mobile No</label>
            <input type="number" class="form-control" placeholder="Enter Your Mobile Number">

            <label for="state">State</label>
            <input type="text" class="form-control" placeholder="Enter Your State">
          </div>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">submit</button>
      </form>
</div> -->

<div class="container">
  <h2 class="text-center"> Book Your Appointment</h2>
  <form [formGroup]="myForm" (submit)="bookAppointment()" class="mt-4">

      <div class="row mb-2">
          <div class="col-8">
              <div class="col">
                  <label>Name</label>
                  <input type="text" class="form-control" placeholder="Enter Name" formControlName="name">

              </div>
          </div>
          <div class="col-4">
              <label>Age</label>
              <input type="number" class="form-control" placeholder="Enter Age" formControlName="age">
          </div>
      </div>

      <div class="row mb-2">
          <div class="col-8">
              <div class="col">
                  <label>Email</label>
                  <input type="email" class="form-control" placeholder="Enter Email" formControlName="email">
              </div>
          </div>
          <div class="col-4">
              <label>Mobile No.</label>
              <input type="number" class="form-control" placeholder="Enter Mobile no." formControlName="mobile">
          </div>
      </div>

      <div class="row mb-2">
          <div class="col">
              <label>Address Line 1</label>
              <input type="text" class="form-control" placeholder="Enter address line 1" formControlName="address1">
          </div>
      </div>

      <div class="row mb-2">
          <div class="col">
              <label>Address Line 2</label>
              <input type="text" class="form-control" placeholder="Enter address line 2" formControlName="address2">
          </div>
      </div>

      <div class="row mb-2">
          <div class="col-6">
              <div class="col">
                  <label>City</label>
                  <input type="text" class="form-control" placeholder="Enter City" formControlName="city">
              </div>
          </div>
          <div class="col-6">
              <label>State</label>
              <input type="text" class="form-control" placeholder="Enter State" formControlName="state">
          </div>
      </div>

      <div class="row mb-2">
          <div class="col-6">
              <div class="col">
                  <label>Country</label>
                  <input type="text" class="form-control" placeholder="Enter Country" formControlName="country">
              </div>
          </div>
          <div class="col-6">
              <label>Pin Code</label>
              <input type="number" class="form-control" placeholder="Enter Pin Code" formControlName="pincode">
          </div>
      </div>

      <div class="row mb-2">
          <div class="col">
              <label>Trainer Preference</label>
              <div class="d-flex ">
                  <div>
                      <input class="form-check-input" type="radio" value="male" name="trainer" formControlName="trainer">
                      <label class="form-check-label ms-2">
                        Male Trainer
                      </label>
                  </div>

                  <div class="ms-5">
                      <input class="form-check-input" type="radio" value="female" name="trainer" formControlName="trainer">
                      <label class="form-check-label ms-2">
                            Female Trainer
                          </label>
                  </div>

                  <div class="ms-5">
                      <input class="form-check-input" type="radio" value="other" name="trainer" formControlName="trainer">
                      <label class="form-check-label ms-2">
                            No Preference
                          </label>
                  </div>

              </div>


          </div>
      </div>

      <div class="row mb-2">
          <div class="col">
              <label for="exampleInputEmail1">Do you need Physiotherapist</label>
              <div class="d-flex ">
                  <div>
                      <input class="form-check-input" type="radio" (change)="add()" value="yes" name="physio" formControlName="physio">
                      <label class="form-check-label ms-2">
                        Yes
                      </label>
                  </div>

                  <div class="ms-5">
                      <input class="form-check-input" type="radio" (change)="sub()" value="no" name="physio" formControlName="physio">
                      <label class="form-check-label ms-2">
                            No
                          </label>
                  </div>



              </div>
          </div>
      </div>

      <div class="row mb-2">
          <div class="col">
              <label for="exampleInputEmail1">Select a package</label>
              <div class="d-flex flex-column">
                  <div>
                      <input class="form-check-input" value="package1" type="radio" (change)="pack()" name="package" formControlName="package">
                      <label class="form-check-label ms-2">
                        One time appointment (Rs. 500/-)
                  </label>
                  </div>



                  <div>
                      <input class="form-check-input" value="package2" type="radio" name="package" (change)="pack()" formControlName="package">
                      <label class="form-check-label ms-2">
                            4 seesions per week (Rs. 400/- per session)
                  </label>
                  </div>

                  <div>
                      <input class="form-check-input" value="package3" type="radio" (change)="pack()" name="package" formControlName="package">
                      <label class="form-check-label ms-2">
                          5 seesions per week (Rs. 300/- per session)
                  </label>
                  </div>

              </div>

          </div>
      </div>

      <div class="row mb-2" [ngClass]="myForm.value.package == 'package1' ? 'd-none' : 'd-block'">
          <div class="col-4">
              <label>Weeks</label>
              <input type="number" class="form-control" min="1" (change)="pack()" placeholder="Enter Name" formControlName="weeks">
          </div>
      </div>

      <div class="row mb-2">
          <div class="col-4">
              <label>Amount(Rs)</label>
              <input type="number" class="form-control" name="amount" [(ngModel)]="amount" formControlName="amount">
          </div>
      </div>

      <div class="row">
          <div class="col">
              <div class="d-flex flex-row-reverse">
                  <button type="submit" class="btn btn-primary ps-5 pt-2 pb-2 pe-5 ">Submit</button>
              </div>
          </div>
      </div>
  </form>

  <hr class="mt-5 mb-2">

</div>
