<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="#" class="navbar-brand">
      <img src="/assets/logo.png" height="40" alt="CoolBrand">
  </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="book-appointment">Book Appointment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="view-appointment">View Appointment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact-us">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="query-table">Show Query</a>
        </li>
      </ul>
    </div>
  </nav>