<div class="overflow-x-auto">
    <table class="table w-full">
        <thead>
            <tr>
                <th scope="col">S.No.</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phno</th>
                <th scope="col">Query</th>
            </tr>
        </thead>
        <tbody *ngFor="let item of queries let index = index; trackBy:trackByIndex">

            <tr>
                <th scope="row">{{index+1}}</th>
                <td>{{item.name}}</td>
                <td>{{item.email}}</td>
                <td>{{item.phno}}</td>
                <td>{{item.query}}</td>
            </tr>

        </tbody>
    </table>
</div>